<!DOCTYPE html>
<html>
	<head>
		<title>CDPF</title>
		<style>
			img { max-width: 400px; }
		</style>
	</head>
	<body>
		<h2>{{ message|e }}</h2>

		{% if upload %}
		
			<form method="post" enctype="multipart/form-data">
				Upload: <input type='file' name='the-file' value="Choose Photo"/> <br> 
				<input type='submit' name='submit' value='Upload'/>
			</form>
		
		{% endif %}

		<h3>Photos</h3>

		{% for name in images %}
			<div class="row">

				<div>{{ name|e }}</div>
				<div><img src='?f={{ name|e('html_attr') }}'/></div>

			</div>	
		{% endfor %}
	</body>
</html>