<!DOCTYPE html>
<html>
	<head>
		<title>CDPF</title>
		<style>
			img { max-width: 400px; }
		</style>
	</head>
	<body>
	
		{% if upload %}
		
			<h2>{{ message|e }}</h2>

		
			<form method="post" enctype="multipart/form-data">
				Upload: <input type='file' name='the-file' value="Choose Photo"/> <br> 
				<input type='submit' name='submit' value='Upload'/>
			</form>
		
		{% endif %}

		<h3>Photos</h3>

		{% for name in images %}
			<div class="row">
				<div>{{ name|e }}</div>
				{% if upload %}
				        <div><img src='/sync/{{ name|e('html_attr') }}'/></div>
				{% else %}
					<div><img src='{{ name|e('html_attr') }}'/></div>
				{% endif %}
			</div>	
		{% endfor %}
		
	</body>
</html>
